- if user_signed_in?
  = render "shared/admin_layout"
  = render "twitter/shared/admin_layout_sidebar_photos"
  #page-wrapper
    .row
      .col-lg-12
        %h1.page-header#top-of-page Photos
    .row
      - if @twitter_search_photos.present?
        - @twitter_search_photos.each do |tweet|
          .col-sm-10.col-md-4
            .thumbnail
              .div{"style" => "max-width: 347px; height: 348px; overflow: hidden"}
                %img{"data-src" => "holder.js/300x200"}= image_tag(tweet[:media_url].media_url) if tweet[:media_url]
              .caption.text-center
                %p= link_to "#{tweet[:name]}", "http://www.twitter.com/#{tweet[:username]}"
                %p
                  %a.btn.btn-default{href: "https://twitter.com/intent/tweet?in_reply_to=#{tweet[:id]}", role: "button"} #{image_tag('retweet.png')}
                  %a.btn.btn-default{href: "https://twitter.com/intent/retweet?tweet_id=#{tweet[:id]}", role: "button"} #{image_tag('reply.png')}
                  %a.btn.btn-default{href: "https://twitter.com/intent/favorite?tweet_id=#{tweet[:id]}", role: "button"} #{image_tag('favorite.png')}
        .row
          .col-sm-6.col-md-2.col-md-offset-10
            %a{href: "#top-of-page"}
              back to top
      - else
        #flash_notice
          %h3 There doesn't appear to be any results. Have you tried making a search yet?
-else
  #flash_notice
    %h4 Are you lost? Please sign in first and try again.

