%li
  %a{href: "#"}
    Twitter
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      = link_to start_twitter_analytics_path do
        Search

%li
  %a{href: "#"}
    Facebook
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      = link_to start_facebook_analytics_path do
        Search
