- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        = render "dashboard/admin_layout_sidebar_dashboard"
  #page-wrapper
    .row
      .col-lg-12
        %h1.page-header Select a network
    .row
      .col-lg-6
        %a{style: "text-decoration: none", href: "/twitter/analytics/start"}
          .well.well-lg.twitter{"style" => "min-height: 275px; overflow: hidden"}
            %ul
              %h2 Twitter
            %hr
            .row{style: "font-size: 18px"}
              .col-sm-6
                %ul
                  %p Search
                  %p Sentiment
              .col-sm-6
                %ul
                  %p Metrics
                  %p Keywords
            %br
            .row{style: "font-size: 18px"}
              .col-sm-6
                %ul
                  %button.btn.btn-primary#auth-twitter Get started
              .col-sm-6
            .row
              .col-sm-12
                %hr
                  %ul
                    %small *You will need your twitter account to use this service
      .col-lg-6
        %a{style: "text-decoration: none", href: "/facebook/analytics/start"}
          .well.well-lg.facebook{"style" => "min-height: 275px; overflow: hidden"}
            %ul
              %h2 Facebook
            %hr
            .row{style: "font-size: 18px"}
              .col-sm-6
                %ul
                  %p Search
                  %p Sentiment
              .col-sm-6
                %ul
                  %p Metrics
                  %p Keywords
            %br
            .row{style: "font-size: 18px"}
              .col-sm-6
                %ul
                  %button.btn.btn-primary#auth-facebook Get started
              .col-sm-6
            .row
              .col-sm-12
                %hr
                  %ul
                    %small *You will need your facebook account to use this service
- else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.
