= render partial: "shared/landing_page_header"
#page-wrapper
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default{style: "margin: 5px"}
        .panel-heading
          %h3.panel-title Resend confirmation instructions
        .panel-body
          %fieldset
            = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, autofocus: true, placeholder: "E-mail", type: "text"

              %input.btn.btn-lg.btn-success.btn-block{type: "submit", value: "Resend confirmation instructions"}/
          .form-group
          = render "devise/shared/links"
