= render partial: "shared/landing_page_header"
#page-wrapper.text-center
  .row
    .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
      .panel.panel-primary.mobile-margin
        .panel-heading
          %h3.panel-title
            %strong
              Update Profile
        .panel-body
          %fieldset
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, autofocus: true, placeholder: "E-mail", type: "text"

              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                .form-group
                  Currently waiting confirmation for: "#{resource.unconfirmed_email}"

              .form-group
                %i
                  (leave blank if you don't want to change it)
                %br
                = f.password_field :password, autocomplete: "off", placeholder: "Password", type: "password", value: ""
              .form-group
                = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", type: "password", value: ""
              .form-group
                %br
                = f.password_field :current_password, autocomplete: "off", placeholder: "Current Password", type: 'password', value: "", required: true
                %br
              %input.btn.btn-primary{type: "submit", value: "Update profile"}/
= render "shared/landing_page_footer"
