= render partial: "shared/landing_page_header"
#page-wrapper.text-center
  .row
    .col-md-4.col-sm-8.col-md-offset-4.col-sm-offset-2
      .panel.panel-primary.mobile-margin
        .panel-heading
          %h2.panel-title
            %strong
              Sign up - 14 day free trial
        .panel-body
          %br
          %fieldset
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post }) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, autofocus: true, placeholder: "E-mail", type: "text", required: true
              .form-group
                = f.password_field :password, autocomplete: "off", placeholder: "Password", type: "password", value: "", required: true
              .form-group
                = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", type: "password", value: "", required: true
              %br
              %input.btn.btn-lg.btn-success.custom-button#sign-up{type: "submit", value: "Sign up"}
              %br
              %br
              %small By signing up you agree to the
              = link_to terms_of_service_pages_path do
                %small terms of service.
              %br
= render "shared/landing_page_footer"

