= render partial: "shared/landing_page_header"
.container#invoices
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %strong
              Invoices
        .panel-body
          %ul
            - @invoices.each do |invoice|
              %li.invoices#open-invoice= link_to "invoice - #{invoice.created_at.strftime("%d/%m/%Y")}", invoice_path(invoice.id, :format => "pdf")
= render "shared/landing_page_footer"
