.row
  .col-lg-12
    %h1.page-header
      Keywords
%br
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %i.fa.fa-book.fa-fw
        Tweet Keywords
      .panel-body
        #keywords-chart
          :javascript
            Morris.Bar({
              element: 'keywords-chart',
              data: #{@keywords_analysis.data_for_barchart.to_json},
              xkey: 'x',
              ykeys: 'y',
              labels: ['Frequency'],
              hideHover: 'auto',
              hoverCallback: function(index, options, content) {
                return(content);
              },
              resize: 'true'
            });

