#large-device-sentiment-timeline
  .row
    .col-lg-12
      %h1.page-header
        Sentiment
  = render "twitter/analytics/sentiment_piechart"
  .panel.panel-default
    .panel-heading
      %i.fa.fa-smile-o.fa-fw
      Tweet Sentiment
      %i.fa.fa-sort-amount-desc.pull-right
        Most Relevant
    .panel-body
      %ul.timeline
        - if @sentiment_analysis.tweets.present?
          - @sentiment_analysis.tweets.each do |tweet|
            - if tweet[1] > 0
              %li
                .timeline-badge.success
                  %i.fa.fa-thumbs-up
                .timeline-panel
                  .timeline-heading
                    %h4.timeline-title= link_to "#{tweet[0][:name]}", "http://www.twitter.com/#{tweet[0][:username]}"
                    %p
                    %small.text-muted
                      %i.fa.fa-time
                      = link_to raw("#{image_tag('bird_blue.png')} #{time_ago_in_words tweet[0][:created_at]} ago"), "http://www.twitter.com/#{tweet[0][:username]}"
                  .timeline-body
                    %p
                    %p= auto_link(tweet[0][:text]).html_safe
                    %br/
                    %p
                      %a.btn.btn-default{href: "https://twitter.com/intent/tweet?in_reply_to=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('retweet.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/retweet?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('reply.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/favorite?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('favorite.png')}
                    %hr/
                    #accordion
                      %h5
                        %i.fa.fa-plus-square-o.fa-fw
                        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: ".collapseOne"} more info
                      .collapseOne.panel-collapse.collapse
                        .panel-body
                          %ul
                            %li= "Source: " "#{(tweet[0][:source])}".html_safe
                            %li= "Result type: " "#{tweet[0][:result_type]}"
                            %li= "User bio: " "#{auto_link(tweet[0][:description])}".html_safe
                            %li= "Followers count: " "#{tweet[0][:followers_count]}"
                            %li= "Friends count: " "#{tweet[0][:friends_count]}"
                            %li= "Statuses count: " "#{tweet[0][:statuses_count]}"
                            %li= "Tweets count: " "#{tweet[0][:tweets_count]}"
                            %li= "Retweet count: " "#{tweet[0][:retweet_count]}"
                            %li= "Favorite count: " "#{tweet[0][:favorite_count]}"
                            %li= "Time zone: " "#{tweet[0][:time_zone]}"
            - else
              %li.timeline-inverted
                .timeline-badge.danger
                  %i.fa.fa-thumbs-down
                .timeline-panel
                  .timeline-heading
                    %h4.timeline-title= link_to "#{tweet[0][:name]}", "http://www.twitter.com/#{tweet[0][:username]}"
                    %p
                    %small.text-muted
                      %i.fa.fa-time
                      = link_to raw("#{image_tag('bird_blue.png')} #{time_ago_in_words tweet[0][:created_at]} ago"), "http://www.twitter.com/#{tweet[0][:username]}"
                  .timeline-body
                    %p
                    %p= auto_link(tweet[0][:text]).html_safe
                    %br/
                    %p
                      %a.btn.btn-default{href: "https://twitter.com/intent/tweet?in_reply_to=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('retweet.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/retweet?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('reply.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/favorite?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('favorite.png')}
                    %hr/
                    #accordion
                      %h5
                        %i.fa.fa-plus-square-o.fa-fw
                        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", href: ".collapseOne"} more info
                      .collapseOne.panel-collapse.collapse
                        .panel-body
                          %ul
                            %li= "Source: " "#{(tweet[0][:source])}".html_safe
                            %li= "Result type: " "#{tweet[0][:result_type]}"
                            %li= "User bio: " "#{auto_link(tweet[0][:description])}".html_safe
                            %li= "Followers count: " "#{tweet[0][:followers_count]}"
                            %li= "Friends count: " "#{tweet[0][:friends_count]}"
                            %li= "Statuses count: " "#{tweet[0][:statuses_count]}"
                            %li= "Tweets count: " "#{tweet[0][:tweets_count]}"
                            %li= "Retweet count: " "#{tweet[0][:retweet_count]}"
                            %li= "Favorite count: " "#{tweet[0][:favorite_count]}"
                            %li= "Time zone: " "#{tweet[0][:time_zone]}"
