.row
  .col-lg-12.text-center.sentiment-piechart
    %h2 Total Breakdown
    #sentiment-chart
    %p sample size: #{@sentiment_analysis.total_count}
%br
:javascript
  Morris.Donut({
    element: 'sentiment-chart',
    data: [
      {label: "Positive", value: "#{@sentiment_analysis.count_positive}", percent: "#{@sentiment_analysis.percent_positive}"},
      {label: "Negative", value: "#{@sentiment_analysis.count_negative}", percent: "#{@sentiment_analysis.percent_negative}"}
    ],
    colors: ['#0B62A4', '#FF4545'],
    formatter: function (y, data) { return data.percent + "%" },
    resize: true
  });
