#small-device-sentiment-timeline
  .row
    .col-sm-6
      %h1.page-header
        Sentiment
  .panel.panel-default
    .panel-heading
      %i.fa.fa-smile-o.fa-fw
      Tweet Sentiment
      %i.fa.fa-sort-amount-desc.pull-right
        Most Relevant
    .panel-body#small-device
      %ul.chat
        - if @sentiment_analysis.tweets.present?
          - @sentiment_analysis.tweets.each do |tweet|
            - if tweet[1] > 0
              %li.left.clearfix
                %br/
                %span.btn.btn-success.pull-left
                  %i.fa.fa-thumbs-up
                .chat-body.clearfix
                  .header
                    %strong.primary-font= link_to "#{tweet[0][:name]}", "http://www.twitter.com/#{tweet[0][:username]}"
                    %small.pull-right.text-muted
                      = link_to raw("#{image_tag('bird_blue.png')} #{time_ago_in_words tweet[0][:created_at]} ago"), " http://www.twitter.com/#{tweet[0][:username]}"
                    %p
                    %p= auto_link(tweet[0][:text]).html_safe
                    %hr/
                    %p
                      %a.btn.btn-default{href: "https://twitter.com/intent/tweet?in_reply_to=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('retweet.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/retweet?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('reply.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/favorite?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('favorite.png')}
                    %br/
            - else
              %li.left.clearfix
                %br/
                %span.btn.btn-danger.pull-left
                  %i.fa.fa-thumbs-down
                .chat-body.clearfix
                  .header
                    %strong.primary-font= link_to "#{tweet[0][:name]}", "http://www.twitter.com/#{tweet[0][:username]}"
                    %small.pull-right.text-muted
                      = link_to raw("#{image_tag('bird_blue.png')} #{time_ago_in_words tweet[0][:created_at]} ago"), "http://www.twitter.com/#{tweet[0][:username]}"
                    %p
                    %p= auto_link(tweet[0][:text]).html_safe
                    %hr/
                    %p
                      %a.btn.btn-default{href: "https://twitter.com/intent/tweet?in_reply_to=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('retweet.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/retweet?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('reply.png')}
                      %a.btn.btn-default{href: "https://twitter.com/intent/favorite?tweet_id=#{tweet[0][:tweet_id]}", role: "button"} #{image_tag('favorite.png')}
                    %br/

