.row
  .col-lg-12
    %h1.page-header
      Metrics
  %br
  .row.stats-boxes
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %i.fa.fa-users.fa-fw
          Top Influencers
        .panel-body
          - @stats_analysis.top_user_mentions.each do |user|
            %p.lead= link_to "#{user}", "https://twitter.com/search/#{user}"
        .panel-footer
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %p # Top Hashtags
        .panel-body
          - @stats_analysis.top_hashtags.each do |hashtag|
            %p.lead= link_to "##{hashtag}", "https://twitter.com/search/%23#{hashtag}"
        .panel-footer
  .row.stats-boxes
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %i.fa.fa-mobile.fa-lg
          Top Sources
        .panel-body
          - @stats_analysis.top_sources.each do |source|
            %p.lead= link_to "#{source}".html_safe
        .panel-footer
    .col-lg-6
      .panel.panel-default
        .panel-heading
          %i.fa.fa-clock-o.fa-fw
          Top Timezones
        .panel-body
          - @stats_analysis.top_timezones.each do |timezone|
            %p.lead= link_to "#{timezone}", "#-"
        .panel-footer
  .row.stats-boxes
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-external-link-square.fa-fw
          Top Urls
        .panel-body
          .panel-group
            - @stats_analysis.top_urls.each do |url|
              .panel.panel-info
                .panel-heading
                  %p.panel-title.lead
                    = link_to nil, url
  .row.stats-boxes
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-retweet.fa-fw
          Top Retweets
        .panel-body
          .panel-group
            - @stats_analysis.top_retweets.each do |tweet_obj|
              .panel.panel-info
                .panel-heading
                  %p.panel-title.lead= link_to "#{tweet_obj[1][0]}", "http://www.twitter.com/#{tweet_obj[1][1]}"
                  %ul
                    %li.panel-title.lead User: #{tweet_obj[1][1]}
                    %li.panel-title.lead Count: #{tweet_obj[0]}
  .row.stats-boxes
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-heart.fa-fw
          Top Favorites
        .panel-body
          .panel-group
            - @stats_analysis.top_favorites.each do |tweet_obj|
              .panel.panel-info
                .panel-heading
                  %p.panel-title.lead= link_to "#{tweet_obj[1][0]}", "http://www.twitter.com/#{tweet_obj[1][1]}"
                  %ul
                    %li.panel-title.lead User: #{tweet_obj[1][1]}
                    %li.panel-title.lead Count: #{tweet_obj[0]}

