- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        %li.sidebar-search
          = form_tag("/twitter/analytics/sentiment", method: "get", id: :search_query) do
            .form-group.input-group.custom-search-form
              = text_field_tag :q, nil, placeholder: "Search...", type: "text", value: "#{params[:q]}", :class => 'form-control'
              %span.input-group-btn
                %button.btn.btn-default#twitter-search{type: "submit"}
                  %i.fa.fa-search
        = render "twitter/shared/admin_layout_sidebar_analytics"
  - if @sentiment_analysis.check_for_empty_search_results.present?
    #sentiment-timeline
      #page-wrapper
        %br/
        = render "twitter/analytics/large_device_timeline"
        = render "twitter/analytics/small_device_timeline"
      .row
        .col-sm-6.col-md-2.col-md-offset-10
          %a{href: "#sentiment-timeline"}
            back to top

  -else
    #page-wrapper
      %br/
      .row
        .col-lg-12
          %h3 There doesn't appear to be any results. Have you tried making a search yet?
- else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.



