- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        = render "twitter/shared/admin_layout_sidebar_analytics"
  #page-wrapper
    .col-lg-12.col-md-12.col-sm-12
      .row
        %h1.page-header
          Make a search
      %br/
      .row
        .panel.panel-default
          .panel-heading
            Twitter Search
          .panel-body
            .row
              .col-md-8.col-md-offset-2
                = form_tag("/twitter/analytics/sentiment", method: "get", id: :search_query) do
                  .form-group.input-group.custom-search-form
                    = text_field_tag :q, nil, placeholder: "Search...", type: "text", value: "#{params[:q]}", :class => 'form-control'
                    %span.input-group-btn
                      %button.btn.btn-primary#twitter-search{type: "submit"}
                        %i.fa.fa-search
          .panel-footer
-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.

