- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        %li.sidebar-search
          = form_tag("/twitter/analytics/stats", method: "get", id: :search_query) do
            .form-group.input-group.custom-search-form
              = text_field_tag :q, nil, placeholder: "Search...", type: "text", value: "#{params[:q]}", :class => 'form-control'
              %span.input-group-btn
                %button.btn.btn-default#twitter-search{type: "submit"}
                  %i.fa.fa-search
        = render "twitter/shared/admin_layout_sidebar_analytics"
  - if @stats_analysis
    #key-stats-section
      #page-wrapper
        = render "twitter/analytics/stats"
  -else
    #page-wrapper
      %br/
      .row
        .col-lg-12
          %h3 There doesn't appear to be any results. Have you tried making a search yet?
-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.
