.break-top{margin-top:15px;margin-bottom:5px}.break-bottom{margin-bottom:15px}.footer-custom ul{padding-left:0px}.footer-custom ul>li{display:inline-block;zoom:1;*display:inline}.footer-custom h4{color:black}.footer-custom h5{color:black}.pages-copy h3{color:black}
