= stylesheet_link_tag "sb-admin", media: "all"
.navbar-default.navbar-static-side{role: "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li.sidebar-search
        = form_tag("/twitter/photos/search", method: "get", id: :search_query) do
          .form-group.input-group.custom-search-form
            = text_field_tag :q, nil, placeholder: "Search...", type: "text", value: "#{params[:q]}", :class => 'form-control'
            %span.input-group-btn
              %button.btn.btn-default{type: "submit"}
                %i.fa.fa-search
      %li
        %a{href: "#"}
          Twitter
          %span.fa.arrow
        %ul.nav.nav-second-level
          %li
            %a{href: "#"}
              %i.fa.fa-bar-chart-o.fa-fw
              Analytics
              %span.fa.arrow
            %ul.nav.nav-third-level
              %li#twitter-sentiment
                = link_to sentiment_twitter_analytics_path(q: params[:q]) do
                  Sentiment
              %li#twitter-metrics
                = link_to stats_twitter_analytics_path(q: params[:q]) do
                  Metrics
              %li#twitter-keywords
                = link_to keywords_twitter_analytics_path(q: params[:q]) do
                  Keywords
          %li#twitter-photos
            = link_to search_twitter_photos_path(q: params[:q]) do
              %i.fa.fa-camera-retro
              Photos
          %li#twitter-geo-search
            = link_to search_twitter_geo_search_index_path do
              %i.fa.fa-globe
              Geo Search
          %li#twitter-search-guidelines
            = link_to about_twitter_info_index_path do
              %i.fa.fa-info
              Search Guidelines

