= stylesheet_link_tag "sb-admin", media: "all"
.navbar-default.navbar-static-side{role: "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav
      %li
        %a{href: "#"}
          Twitter
          %span.fa.arrow
        %ul.nav.nav-second-level
          - if params[:q]
            %li#twitter-geo-sentiment
              = link_to sentiment_twitter_geo_search_index_path(q: params[:q], latitude: params[:latitude], longitude: params[:longitude], radius: params[:radius]) do
                Geo Sentiment
            %li#twitter-geo-metrics
              = link_to stats_twitter_geo_search_index_path(q: params[:q], latitude: params[:latitude], longitude: params[:longitude], radius: params[:radius]) do
                Geo Metrics
            %li#twitter-geo-keywords
              = link_to keywords_twitter_geo_search_index_path(q: params[:q], latitude: params[:latitude], longitude: params[:longitude], radius: params[:radius]) do
                Geo Keywords
            %li#twitter-geo-search
              = link_to search_twitter_geo_search_index_path do
                New Geo Search
            %li
              = link_to sentiment_twitter_analytics_path(q: params[:q]) do
                Back to Normal Search
          - else
            %li#twitter-geo-search
              = link_to search_twitter_geo_search_index_path do
                New Geo Search
            %li
              = link_to sentiment_twitter_analytics_path do
                Back to Normal Search


