- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = render "shared/admin_layout"
  = render "twitter/shared/admin_layout_sidebar_geo_search"
  #geo-search-section
    #page-wrapper
      - if @sentiment_analysis.check_for_empty_search_results.present?
        = render "twitter/analytics/keywords"
      -else
        %br/
        .row
          .col-lg-12
            %h3 There doesn't appear to be any results. Have you tried making a search yet?

-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.
