- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = render "shared/admin_layout"
  = render "twitter/shared/admin_layout_sidebar_geo_search"
  #geo-search-section
    #page-wrapper
      %br
        .row
          .col-lg-12
            .panel.panel-default
              .panel-heading
                %i.fa.fa-globe
                Geo Search
              .panel-body
                .row
                  .col-lg-10.col-lg-offset-1
                    = form_tag("/twitter/geo_search/sentiment", method: "get", id: :search_query) do
                      %h4 1. Select location:
                      .gllpLatlonPicker
                        .gllpMap Google Maps
                        %h4 Latitude:
                        = text_field_tag :latitude, value = "#{params[:latitude]}", :class => 'gllpLatitude'
                        %h4 Longitude:
                        = text_field_tag :longitude, value = "#{params[:longitude]}", :class => 'gllpLongitude'
                        %h4 2. Select radius:
                        = select_tag(:radius, options_for_select([['Radius', '10km'], ['1km', '1km'], ['5km', '5km'], ['10km', '10km'], ['15km', '15km'], ['20km', '20km'], ['30km', '30km'], ['40km', '40km'], ['50km', '50km'], ['75km', '75km'], ['100km', '100km'], ['150km', '150km'], ['250km', '250km'], ['500km', '500km'], ['750km', '750km'], ['1000km', '1000km'], ['2500km', '2500km'], ['5000km', '5000km']]), :class => "form-control")
                        %h4 3. Search:
                        .form-groupinput-group.custom-search-form
                          = text_field_tag :q, nil, placeholder: "Start typing...", type: "text", value: "#{params[:q]}", :class => 'form-control'
                        %h4 4.
                        %button.btn.btn-primary#twitter-geo-search-btn{type: "submit"} Submit
              .panel-footer
-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.
%script{src: "http://maps.googleapis.com/maps/api/js?sensor=false"}

