= render partial: "shared/landing_page_header"
#page-wrapper
  .row
    .col-sm-6.col-sm-offset-3
      .panel.panel-default{style: "margin: 5px"}
        .panel-heading
          %h3.panel-title Change your password
        .panel-body
          %fieldset
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
              = devise_error_messages!
              = f.hidden_field :reset_password_token
              .form-group
                = f.password_field :password, autocomplete: "off", placeholder: "Password", type: "password", value: "", required: true
              .form-group
                = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", type: "password", value: "", required: true

              %input.btn.btn-lg.btn-success.btn-block{type: "submit", value: "Change my password"}/
          .form-group
          = render "devise/shared/links"
