= render partial: "shared/landing_page_header"
#page-wrapper.text-center
  .row
    .col-sm-4.col-sm-offset-4
      .panel.panel-primary.mobile-margin
        .panel-heading
          %h3.panel-title
            %strong
              Forgot your password?
        .panel-body
          %fieldset
            = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, autofocus: true, placeholder: "E-mail", type: "text", required: true
              %input.btn.btn-lg.btn-success{type: "submit", value: "Send me reset password email"}
= render "shared/landing_page_footer"
