- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        = render "twitter/shared/admin_layout_sidebar_analytics"
  #page-wrapper
    %br/
    .row
      .col-lg-12
        %h1.page-header#search-guidelines
          Search guidelines
      .col-lg-12
        .panel.panel-primary
          .panel-heading
            %h3.panel-title
              %i.fa.fa-twitter
              Search Operators
          .panel-body
            .table-responsive
              %table.table.table-bordered.table-hover.table-striped.tablesorter
                %thead
                  %tr
                    %th Operator
                    %th Finds tweets...
                %tbody
                  %tr
                    %td twitter search
                    %td containing both "twitter" and "search". This is the default operator.
                  %tr
                    %td
                      %b> "
                      happy hour
                      %b "
                    %td containing the exact phrase "happy hour".
                  %tr
                    %td
                      love
                      %b OR
                      hate
                    %td containing either "love" or "hate" (or both).
                  %tr
                    %td
                      beer
                      = succeed "root" do
                        %b -
                    %td containing "beer" but not "root".
                  %tr
                    %td
                      %b> #
                      haiku
                    %td containing the hashtag "haiku".
                  %tr
                    %td
                      %b> from:
                      alexiskold
                    %td sent from person "alexiskold".
                  %tr
                    %td
                      %b> to:
                      techcrunch
                    %td sent to person "techcrunch".
                  %tr
                    %td
                      %b> @
                      mashable
                    %td referencing person "mashable".
                  %tr
                    %td
                      "happy hour"
                      = succeed "\"san" do
                        %b near:
                    %td containing the exact phrase "happy hour" and sent near "san francisco".
                  %tr
                    %td
                      %b> near:
                      NYC
                      = succeed "15mi" do
                        %b within:
                    %td sent within 15 miles of "NYC".
                  %tr
                    %td
                      superhero
                      = succeed "2010-12-27" do
                        %b since:
                    %td containing "superhero" and sent since date "2010-12-27" (year-month-day).
                  %tr
                    %td
                      ftw
                      = succeed "2010-12-27" do
                        %b until:
                    %td containing "ftw" and sent up to date "2010-12-27".
                  %tr
                    %td
                      movie -scary
                      %b :)
                    %td containing "movie", but not "scary", and with a positive attitude.
                  %tr
                    %td
                      flight
                      %b :(
                    %td containing "flight" and with a negative attitude.
                  %tr
                    %td
                      traffic
                      %b ?
                    %td containing "traffic" and asking a question.
                  %tr
                    %td
                      hilarious
                      %b filter:links
                    %td containing "hilarious" and linking to URLs.
                  %tr
                    %td
                      news
                      %b source:twitterfeed
                    %td containing "news" and entered via TwitterFeed
            .text-right
              %p
                Source:
                %a{href: "https://www.twitter.com"}
                  twitter
                %i.fa.fa-arrow-circle-right
-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.
