= stylesheet_link_tag "sb-admin", media: "all"
#wrapper
  %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation", style: "margin-bottom: 0"}
    .navbar-header
      %button.navbar-toggle{"data-target" => ".sidebar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to 'SocialClue', dashboard_path
    %ul.nav.navbar-top-links.navbar-right
      - if user_signed_in?
        %li
          = link_to account_path(current_user) do
            %i.fa.fa-user.fa-fw#user-account
            Account
        %li
          = link_to destroy_user_session_path,:method => :delete do
            %i.fa.fa-sign-out.fa-fw
            Sign out
      - else
        %li= link_to 'Sign in', new_user_session_path
        %li= link_to 'Sign up', new_user_registration_path
  = render partial: "shared/flash_messages", flash: flash
