.container.footer-custom.text-center
  .row.break-top
    .col-lg-6.col-lg-offset-3
      %ul
        %li#about
          = link_to about_pages_path do
            %h4 About -
        %li#learn-more
          = link_to learn_more_pages_path do
            %h4 Learn More -
        %li
          %a{href: "mailto:info@socialclue.io"}
            %h4 Contact Us
  .row.break-bottom
    .col-lg-6.col-lg-offset-3
      %ul
        %li
          %h5 &#169; 2014 SocialClue Ltd. All rights reserved.
        %li#privacy-policy
          = link_to privacy_policy_pages_path do
            %h5 Privacy Policy.
        %li#terms-of-service
          = link_to terms_of_service_pages_path do
            %h5 Terms of Service.
