= stylesheet_link_tag "flatty", media: "all"
%nav.navbar.navbar-default.navbar-logo-rf
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand#header-logo
        = link_to "SocialClue.io", root_path
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right.navbar-header-links
        %l
        - if user_signed_in?
          %li#dashboard= link_to 'Dashboard', dashboard_path
          %li#user-account= link_to 'Account', account_path(current_user)
          %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
          - if current_user.is_admin?
            %li= link_to 'Admin', admin_dashboard_path
        - else
          %li#pricing= link_to 'Pricing', pricing_pages_path
          %li= link_to 'Sign in', new_user_session_path
          %li= link_to 'Sign up', new_user_registration_path
  = render partial: "shared/flash_messages", flash: flash
