= render "shared/landing_page_header"
#headerwrap
  .container#landing-page
    .row
      .col-md-6
        %h1
          %lead
            Social search &
            %br/
            analysis made
            %br/
            easy
            %br/
            %br/
        %p
          %a.btn.btn-warning.btn-lg{href: "/users/sign_up", role: "button"}
            %strong#landing-page-cta Get Started
      #landing-page-image
        .col-md-5.col-md-offset-1
          %img.img-responsive #{image_tag('ipad-hand.png')}
= render "shared/landing_page_footer"















