Hi <%= @user.email %>,

Your SocialClue account was recently cancelled.

Thank you for using our service. We’re sorry to see you go. If this was a mistake, or you just need to update your credit card details, please login and create a new subscription.

If you have any questions, please contact us at info@socialclue.io

Thanks,
The SocialClue Team
