Hi <%= @user.email %>,

Changes were made recently to your SocialClue billing information.

Most likely you just updated card your card details.

If you did not make these changes, please contact us at info@socialclue.io

Thanks,
The SocialClue Team
