Hi <%= @user.email %>,

Thank you for your subscription. Print this receipt as confirmation of your payment.

======================================
Invoice #: <%= @user.invoices.last.id %>

Date: <%= Date.today %>

Bill to: <%= @user.email %>

Standard Plan – <%= @start_date %> to <%= @end_date %>

Subtotal : <%= @amount %> USD Tax : $0.00 USD Shipping : $0.00 USD Total : <%= @amount %> USD Amount paid : <%= @amount %> USD Balance due : $0.00 USD

*EU customers: prices exclude VAT

Your next billing date will be <%= @end_date %>.
========================================

If you have any questions, please contact us at info@socialclue.io. Please include your invoice number with your query.

Thanks,
The SocialClue Team


