Hi <%= @user.email %>,

Your latest payment failed to go through. Please log on to
www.socialclue.io and update your credit card details to keep
your subscription active.

The details are included below.

======================================
<%= @user.email %>

Standard Plan – <%= @start_date %> to <%= @end_date %>

Total:  <%= @amount %> USD

======================================
NEED TO CANCEL:

If you do not need your subscription to SocialClue anymore, please go to
www.socialclue.io and cancel at any time.

Please Note: We do not offer refunds for
previous payments, but once you cancel, you will not be
charged again.

If you have any questions, please contact us at info@socialclue.io

Thanks,
The SocialClue Team

