= render partial: "shared/landing_page_header"
.container#about-page
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %strong
              About
        .panel-body
          %fieldset
            %p SocialClue is a social media search and analysis service that aggregates user generated content from across various scoial media platforms into a single dashboard of information.
            %p It allows you to easily track, analyze and act upon what people are saying about you, your company, a new product, or any topic for that matter, across various social media platforms in near real-time.
            %a#about-page-cta{href: "/users/sign_up"}
              %strong
                Sign up now to start your free trial!
= render "shared/landing_page_footer"

