= render partial: "shared/landing_page_header"
.container#learn-more
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            %strong
              Learn More
        .panel-body
          %fieldset
            %p Speaking and listening in the social world involves a continual analysis and interpretation of categories, groups, types, and personae and of the differences in the ways they talk — in social cognition terms, a development of schemata (Piaget 1954).
            %p These emerge as we come to notice differences, to make distinctions, and to attribute meaning to them. Thus we construct a social landscape through the segmentation of the social terrain, and we construct a linguistic landscape through a segmentation of the linguistic practices in that terrain. (Eckert 2008)
            %p SocialClue was created to make this task as simple as possible!
            %p
              %strong
                Heard enough?
              %a#learn-more-cta{href: "/users/sign_up"}
                %strong
                  Sign up now to get started!
            %p The amount of user generated content on the internet has risen dramatically over the last decade, and such content is now always at our fingertips. Customer feedback is now not only directed at companies directly, but also broadcast on the net via web-blogs, Twitter, Facebook and comments at retailers websites.
            %p As a result, nearly all our decision-making is social. Before buying products (attending events, trying services, voting for candidates, visiting specialists, we see what our peers are saying about them. The fate of a new offering is often sealed by those evaluations.
            %p Our analysis, which includes the computational study of how opinions, attitudes, emotions, and perspectives are expressed in language,  provides a diverse set of tools and techniques for extracting evaluative, subjective information from various social media platforms and summarising it.
            %p However, it is worth noting that any linguistic summary will leave out important nuances of the original source, which could be misleading. We expect any errors in our analysis, when they do occur, to be predominantly  high-level and approximate, so it is unlikely that you will be misled. We try to always  draw attention to the data, not the noise. Use a minimum of text. And avoid creating graphical puzzles.
            %p
              %strong
                Ready to get started?
              %a#learn-more-cta{href: "/users/sign_up"}
                %strong
                  Sign up now to start your free trial!

= render "shared/landing_page_footer"
