= render partial: "shared/landing_page_header"
.container.text-center#pricing-page
  .row
    .col-md-6.col-md-offset-3
      %h2
        %strong
          Pricing
      %h4
        14 day free trail
      %h4
        No credit card required!
      %p
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-primary
        .panel-heading
          %h2.panel-title
            %strong
              Everybody
        .panel-body
          %fieldset
            %h3 $10 per month
            %h3 cancel anytime
            %h3 start instantly
            %br
            %a.btn.btn-lg.btn-success#pricing-page-cta{href: "/users/sign_up"}
              %strong
                Sign up - 14 day free trial
            %br
            %br
.text-center
  = render "shared/landing_page_footer"
