= render partial: "shared/landing_page_header"
.container.pages-copy#privacy-policy
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-heading
          %h3.panel-title SocialClue Privacy Policy
        .panel-body
          %fieldset.pages-copy
            %p This Privacy Policy is part of SocialClue’s Terms of Service and describes the privacy practices of SocialClue. It explains when and how SocialClue collects user information, including Personally Identifiable Information, how we use such information, and the circumstances under which we may disclose such information to others.
            %p By visiting the SocialClue website and/or registering for our service, you acknowledge that you accept and consent to the practices outlined in this Privacy Policy.
            %p The privacy of your data is a big deal to us. We'll only ever access your SocialClue account to help you with a problem or squash a software bug.
            %p Please Note: Twitter now requires all searches to be authenticated. This will require you to login to authorize SocialClue to search Twitter. We promise to never spam your twitter account.
            %p Please Note: Facebook now requires all searches to be authenticated. This will require you to login to authorize SocialClue to search Facebook. We promise to never spam your facebook account.
            %h3 What information do we collect?
            %p When you sign up for SocialClue, we ask for your email address. That's just so you can use our site, and we can send you updates and other essential information. We’ll never sell your personal info to third parties, and we won’t use your name or company in marketing statements without your permission, either.
            %p When you contact SocialClue with a question or to ask for help, we'll keep that correspondence, and the email address, for future reference. When you browse our marketing pages, we'll track that for statistical purposes (like conversion rates and to test new designs). We also store any information you volunteer, for as long as it makes sense.
            %p Any of the information we collect from you may be used in the following ways:
            %ul
              %li To register your account
              %li To fulfill your resquest
              %li To understand how you are engaging with SocialClue
              %li To communicate with you
              %li To personalize your experience (your information helps us to better respond to your individual needs)
              %li To improve our website (we continually strive to improve our website offerings based on the information and feedback we receive from you)
              %li To improve customer service (your information helps us to more effectively respond to your customer service requests and support needs)
              %li We may also use SocialClue User Information to facilitate the delivery of content or advertisements that we believe may be of interest to you, or to communicate with you about new or existing products and services or special offers.
            %p SocialClue may also receive certain information that may be provided by your browser or mobile device, including:
            %ul
              %li Browser information
              %li Operating system information
              %li Mobile device information (e.g., device identifier, mobile operating system, etc.)
              %li IP address
              %li Pages accessed
              %li Time of visit
              %li Time of last visit
              %li Referring site, application, or service, including the relevant search queries that led you to the SocialClue website

            %p The only times we’ll ever share your info:
            %ul
              %li To provide products or services you've requested, with your permission.
              %li To investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our Terms of Service, or as otherwise required by law.
              %li If SocialClue is acquired by or merged with another company — we don’t plan on that, but if it happens — we’ll notify you well before any info about you is transferred and becomes subject to a different privacy policy.
            %h3 How do we protect your information?
            %p SocialClue has implemented reasonable security mechanisms to protect SocialClue User Information from loss, misuse and unauthorized access, disclosure, alteration and destruction. Examples of these security mechanisms include limited and password-protected access, high security public/private keys.
            %p However, please keep in mind that no security system is impenetrable. It may be possible for third parties to intercept or access SocialClue User Information in spite of these measures. SocialClue cannot guarantee the security of your information and cannot be held responsible for unauthorized access to SocialClue User accounts.
            %h3 Do we disclose any information to outside parties?
            %p We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
            %h3 Do we use cookies?
            %p Nope! (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information.
            %h3 Third party links
            %p Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
            %h3 Child Online Privacy Protection
            %p We do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.
            %h3 Online Privacy Policy Only
            %p This online privacy policy applies only to information collected through our website and not to information collected offline.
            %h3 Terms of Service
            %p Please also visit our Terms of Service section establishing the use, disclaimers, and limitations of liability governing the use of our website
            %h3 Your Consent
            %p By using our site, you consent to our privacy policy.
            %h3 Changes
            %p SocialClue may update this policy once in a blue moon — we’ll notify you about significant changes by emailing the account owner or by placing a prominent notice on our site. You can access, change or delete your personal information at any time by contacting #{ mail_to "info@socialclue.io" }
            %h3 Contacting Us
            %p If there are any questions regarding this privacy policy you may contact us using the information below.
            %ul
              %li= mail_to "info@socialclue.io"
= render "shared/landing_page_footer"



