= render partial: "shared/landing_page_header"
.container#terms-of-service
  .row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-heading
          %h3.panel-title Terms of Service - SocialClue Ltd., SocialClue, socialclue.io
        .panel-body
          %fieldset
          %ol.pages-copy
            %li By using the SocialClue or socialclue.io service("Service"), you are agreeing to be bound by the following terms and conditions ("Terms of Service").
            %li SocialClue Ltd. ("Company") reserves the right to update and change these Terms of Service without notice.
            %li “Account” refers to any person or entity that purchases or uses a subscription to SocialClue.
            %li Violation of any of the terms below may result in the termination of your account.
            %h3 Account Terms
            %li You must be 13 years or older to use this Service.
            %li You are responsible for maintaining the security of your account and password. The Company cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
            %li You are responsible for all content and activity that occurs under your account.
            %li You may not use the Service for any illegal purpose or to violate any laws in your jurisdiction (including but not limited to copyright laws).
            %li You must provide a valid email address, and any other information requested in order to complete the signup process.
            %li Your account may only be used by one person – a single account shared by multiple people is not permitted.
            %li You must be a human. Accounts registered by “bots” or other automated methods are not permitted.
            %h3 Payment, Refunds, Upgrading and Downgrading Terms
            %li All paid plans must enter a valid payment account. Free accounts are not required to provide payment account information.
            %li An upgrade from the free plan to any paying plan will immediately bill you.
            %li For monthly payment plans, the Service is billed in advance on a monthly basis and is non-refundable. There will be no refunds or credits for partial months of service, upgrade/downgrade refunds, or refunds for months unused with an open account. In order to treat everyone equally, no exceptions will be made.
            %li All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities, and you shall be responsible for payment of all such taxes, levies, or duties.
            %li For any upgrade or downgrade in plan level while on a monthly billing cycle, the credit card that you provided will automatically be charged.
            %li Downgrading your Service may cause the loss of Content, features, or capacity of your Account. SocialClue does not accept any liability for such loss.
            %h3 Cancellation and Termination
            %li You are solely responsible for properly canceling your account. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by clicking on the Account link in the global navigation bar at the top of the screen. The Account screen provides a simple no questions asked cancellation link.
            %li All of your content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.
            %li If you cancel the Service before the end of your current paid up month, your cancellation will take effect immediately and you will not be charged again.
            %li SocialClue, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other SocialClue service, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. SocialClue reserves the right to refuse service to anyone for any reason at any time.
            %h3 Modifications to the Service
            %li The Company reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, any part of the Service with or without notice.
            %li The Company shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.
            %h3 General Conditions
            %li Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.
            %li Technical support is only provided via email.
            %li You understand that the Company uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.
            %li You must not modify, adapt or hack the Service.
            %li You must not modify another website so as to falsely imply that it is associated with the Service or the Company.
            %li You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by the Company.
            %li We may, but have no obligation to, remove content and accounts that we determine in our sole discretion are unlawful or violates any party’s intellectual property or these Terms of Service.
            %li Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Service customer, Company employee or officer will result in immediate account termination.
            %li You understand that the technical processing and transmission of the Service, including your content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
            %li We reserve the right to temporarily disable your account if your usage significantly exceeds the average usage of other Service customers. Of course, we'll reach out to the account owner before taking any action except in rare cases where the level of use may negatively impact the performance of the Service for other customers.
            %li The Company does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.
            %li You expressly understand and agree that the Company shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if the Company has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
            %li You expressly understand and agree that the Company shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if the Company has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.
            %li The failure of the Company to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and the Company and govern your use of the Service, superceding any prior agreements between you and the Company (including, but not limited to, any prior versions of the Terms of Service).
            %li Questions about the Terms of Service should be sent to #{ mail_to "info@socialclue.io" }
            %p Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.
            %hr
            SocialClue Ltd., Dublin, Ireland.
= render "shared/landing_page_footer"

