!!!
%html
  %head
    %title We're sorry, but something went wrong. Please try again later. (500)
    :css
      body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
      div.dialog {
        width: 25em;
        padding: 0 4em;
        margin: 4em auto 0 auto;
        border: 1px solid #ccc;
        border-right-color: #999;
        border-bottom-color: #999;
      }
      h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  %body#500
    .dialog
      %h1 500
      %div
        %h1 We're sorry
        %p
          Something has gone wrong!
        %p
          If this problem persists please contact us
          at info@socialclue.io
        %p
          Want to
          %a{href: root_path} go back to our home page
          and try again?





