<%= form_tag( { controller: 'subscriptions', action: 'update' }, method: 'put') do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key=<%= Rails.configuration.stripe[:publishable_key] %>
    data-name="SocialClue"
    data-description="edit card details"
    data-panel-label="Update"
    data-email=<%= current_user.email %>
    data-allow-remember-me="false"
    data-label="Edit Card Details"
    >
  </script>
<% end %>
