<%= form_tag subscriptions_path do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key=<%= Rails.configuration.stripe[:publishable_key] %>
    data-name="SocialClue"
    data-description="Standard ($10.00/month)"
    data-amount="1000"
    data-panel-label="Subscribe"
    data-currency="usd"
    data-email=<%= current_user.email %>
    data-allow-remember-me="false"
    data-label="Upgrade"
    >
  </script>
<% end %>
