= render partial: "shared/landing_page_header"
#page-wrapper.text-center
  .row
    .col-md-6.col-md-offset-3
      %h3{style: "color: black"}
        Please click the button below
      %h3{style: "color: black"}
        to edit your card details
  %br
  .row
    .col-md-8.col-md-offset-2
      = render :partial => 'subscriptions/edit_form'
      %hr
= render "shared/landing_page_footer"
