= render partial: "shared/landing_page_header"
#page-wrapper.text-center
  .row
    .col-md-6.col-md-offset-3
      %h3{style: "color: black"}
        Your subscription is no longer active
      %h3{style: "color: black"}
        please upgrade to continue
  %br
  .row
    .col-md-8.col-md-offset-2
      %ul{style: "color: black"}
        %p
          %strong $10 per month
        %p
          %strong cancel anytime
        %P
          %strong start instantly
        = render :partial => 'subscriptions/new_form'
      %hr
= render "shared/landing_page_footer"


