= render partial: "shared/landing_page_header"
#page-wrapper.text-center
  .row
    .col-md-4.col-sm-8.col-md-offset-4.col-sm-offset-2
      .panel.panel-primary.mobile-margin
        .panel-heading
          %h2.panel-title
            %strong
              Sign in
        .panel-body
          %br
          %fieldset
            = form_for(resource, as: resource_name, url: session_path(resource_name), html: { method: :post }) do |f|
              = devise_error_messages!
              .form-group
                = f.email_field :email, autofocus: true, placeholder: "E-mail", type: "text", required: true
              .form-group
                = f.password_field :password, autocomplete: "off", placeholder: "Password", type: "password", value: "", required: true
              %br
              %input.btn.btn-lg.btn-success.custom-button#sign-in{type: "submit", value: "Sign in"}/
          .form-group
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            %strong= link_to "Forgot your password?", new_password_path(resource_name)
            %br/
            %br/
= render "shared/landing_page_footer"
