%li
  %a{href: "#"}
    / %i.fa.fa-facebook.fa-fw
    Facebook
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      = link_to start_facebook_analytics_path do
        Search
    %li
      %a{href: "#"}
        %i.fa.fa-bar-chart-o.fa-fw
        Analytics
        %span.fa.arrow
      %ul.nav.nav-third-level
        %li#fb-pages
          = link_to search_page_facebook_analytics_path(q: params[:q]) do
            Pages
        %li#fb-events
          = link_to search_event_facebook_analytics_path(q: params[:q]) do
            Events

