%li
  %a{href: "#"}
    / %i.fa.fa-facebook.fa-fw
    Facebook
    %span.fa.arrow
  %ul.nav.nav-second-level
    %li
      = link_to search_facebook_analytics_path(q: params[:q], type: 'page') do
        %i.fa.fa-rss#fb-pages
        Pages
    %li
      = link_to search_facebook_analytics_path(q: params[:q], type: 'event') do
        %i.fa.fa-calendar#fb-events
        Events
    %li
      = link_to start_facebook_analytics_path do
        %i.fa.fa-search-plus
        New Search
