.row
  .col-lg-12
    %h1.page-header
      Metrics
%br
  .row
    .col-lg-4
      .panel.panel-default
        .panel-heading
          %i.fa.fa-edit
          Top Type of Status
        .panel-body
          - @fb_stats.type_of_status_frequency.each do |type|
            %p.lead= type
        .panel-footer
    .col-lg-4
      .panel.panel-default
        .panel-heading
          %i.fa.fa-keyboard-o
          Top Status Types
        .panel-body
          - @fb_stats.status_type_frequency.each do |status_type|
            %p.lead= status_type
        .panel-footer
    .col-lg-4
      .panel.panel-default
        .panel-heading
          %i.fa.fa-laptop
          Top User App Types
        .panel-body
          - @fb_stats.application_type_frequency.each do |name|
            %p.lead= name
        .panel-footer
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
          %i.fa.fa-share
          Most Shared
        .panel-body{style: "overflow: hidden"}
          - @fb_stats.most_shared.each do |feed_object|
            %h5= "Shares: " "#{feed_object[0]}".html_safe
            %p= "Message: " "#{auto_link(feed_object[1][:message])}".html_safe
            %p= "Type: " "#{feed_object[1][:type]}".html_safe
            %p= "Link: " "#{auto_link(feed_object[1][:link])}".html_safe
            %p= "Interact: " "#{auto_link(feed_object[1][:interact])}".html_safe
            %hr/
        .panel-footer
  .row


