- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        %li
          %a{href: "#"}
            / %i.fa.fa-facebook.fa-fw
            Facebook
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              %a{href: "#"}
                %i.fa.fa-bar-chart-o.fa-fw
                Analytics
                %span.fa.arrow
              %ul.nav.nav-third-level
                %li#fb-metrics
                  = link_to stats_facebook_analytics_path(id: params[:id]) do
                    Metrics
                %li#fb-keywords
                  = link_to keywords_facebook_analytics_path(id: params[:id]) do
                    Keywords
            %li
              = link_to start_facebook_analytics_path do
                %i.fa.fa-search-plus
                New Search
            %li
              = link_to search_facebook_analytics_path(q: session[:fb_search_query], type: session[:fb_search_type]) do
                %i.fa.fa-arrow-left
                Back to results
  #page-wrapper
    .row
      .col-sm-6
        %h1.page-header
          Feed
    = render "facebook/analytics/sentiment_piechart"
    %br/
    #multi-device-sentiment-timeline
      .row
        .col-sm-6
      .panel.panel-default
        .panel-heading
          %i.fa.fa-smile-o.fa-fw
          Feed Sentiment
          %i.fa.fa-sort-amount-desc.pull-right
            Most Relevant
        .panel-body{style: "overflow: hidden"}
          %ul.chat
            - if @graph_feed.present?
              - @graph_feed.message_sentiment.each do |feed_object|
                - if feed_object[1] > 0
                  %li.left.clearfix
                    %br/
                    %span.btn.btn-success.pull-left
                      %i.fa.fa-thumbs-up
                    .chat-body.clearfix
                      .header
                        %strong.primary-font Message
                        %small.pull-right.text-muted
                          = raw("#{time_ago_in_words feed_object[0][:created_time]} ago")
                        %p
                        %p= auto_link(feed_object[0][:message]).html_safe
                        %hr/
                        %p= "Link: " "#{auto_link(feed_object[0][:link])}".html_safe
                        %p= "Type: " "#{feed_object[0][:type]}".html_safe
                        %p= "Interact: " "#{auto_link(feed_object[0][:interact])}".html_safe
                        %br/
                - elsif feed_object[1] < 0
                  %li.left.clearfix
                    %br/
                    %span.btn.btn-danger.pull-left
                      %i.fa.fa-thumbs-down
                    .chat-body.clearfix
                      .header
                        %strong.primary-font Message
                        %small.pull-right.text-muted
                          = raw("#{time_ago_in_words feed_object[0][:created_time]} ago")
                        %p
                        %p= auto_link(feed_object[0][:message]).html_safe
                        %hr/
                        %p= "Link: " "#{auto_link(feed_object[0][:link])}".html_safe
                        %p= "Type: " "#{feed_object[0][:type]}".html_safe
                        %p= "Interact: " "#{auto_link(feed_object[0][:interact])}".html_safe
                        %br/
                - else
                  %li.left.clearfix
                    %br/
                    %span.btn.btn-info.pull-left
                      n/a
                    .chat-body.clearfix
                      .header
                        %strong.primary-font Message
                        %small.pull-right.text-muted
                          = raw("#{time_ago_in_words feed_object[0][:created_time]} ago")
                        %p
                        %p= auto_link(feed_object[0][:message]).html_safe
                        %hr/
                        %p= "Link: " "#{auto_link(feed_object[0][:link])}".html_safe
                        %p= "Type: " "#{feed_object[0][:type]}".html_safe
                        %p= "Interact: " "#{auto_link(feed_object[0][:interact])}".html_safe
                        %br/
-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.






