- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        = render "facebook/shared/admin_layout_sidebar_search"
  #page-wrapper
    .row
      .col-lg-12
        %h1.page-header
          Search Results
    %br/
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            Showing results for type: "#{(params[:type]).titleize}"
          .panel-body
            %ul.chat
              - if @graph_data.present?
                - @graph_data.each do |k,v|
                  %li.clearfix
                    .chat-body.clearfix
                      %p= link_to v[0], feed_facebook_analytics_path(:id => k)
                      %p= v[1]
                      %p= v[2]
          .panel-footer
-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.


