- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        = render "facebook/shared/admin_layout_sidebar_start"
  #page-wrapper
    .col-lg-12.col-md-12.col-sm-12
      .row
        %h1.page-header
          Make a search
      %br/
      .row
        .panel.panel-default
          .panel-heading
            Facebook Search
          .panel-body
            .row
              .col-md-8.col-md-offset-2
                = form_tag("/facebook/analytics/search", method: "get", id: :search_query) do
                  = text_field_tag :q, nil, placeholder: "Search...", type: "text", value: "#{params[:q]}", :class => 'form-control'
                  %br
                  = select_tag(:type, options_for_select([['page', 'page'], ['event', 'event']]), :class => "form-control")
                  %br
                  %button.btn.btn-primary#fb-search{type: "submit"} Submit
          .panel-footer

-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.

