- if user_signed_in?
  = stylesheet_link_tag "timeline", media: "all"
  = stylesheet_link_tag "sb-admin", media: "all"
  = render "shared/admin_layout"
  .navbar-default.navbar-static-side{role: "navigation"}
    .sidebar-collapse
      %ul#side-menu.nav
        %li
          %a{href: "#"}
            / %i.fa.fa-facebook.fa-fw
            Facebook
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              = link_to start_facebook_analytics_path do
                %i.fa.fa-search-plus
                New Search
            %li
              = link_to :back do
                %i.fa.fa-arrow-left
                Back
  - if @fb_stats.present?
    #key-stats-section
      #page-wrapper
        = render "facebook/analytics/stats"
  -else
    #page-wrapper
      %br/
      .row
        .col-lg-12
          %h3 There doesn't appear to be any results. Have you tried making a search yet?

-else
  #flash_notice
    %h3 Are you lost? Please sign in first and try again.






