/* ===============
    Invoice Links
   =============== */

.invoices a {
  color: black;
}

/* =============
    Header Logo
   ============= */

#header-logo a {
  font-size: 27px;
  font-weight: bold;
  color: white;
}

/* ====================
    Landing Page Image
   ==================== */

@media(max-width:768px) {
    #landing-page-image {
        display: none;
    }
}

/* ===================
    Nav Bar
   =================== */

.navbar-logo-rf {
  padding-bottom: 15px;
}

/* ===================
    Google Maps
   =================== */

  .gllpMap  {
    width: 75%;
    height: 500px;
}

/* ===================
    Sentiment Chart
   =================== */

.sentiment-piechart h2 {
  text-decoration: underline;
}

#sentiment-chart {
  min-width: 350px;
  height: 375px;
  max-width: 450px;
  margin: 0 auto;
}

/* ===================
    Keywords Chart
   =================== */

#keywords-chart {
  height: 475px;
}

.morris-hover{position:absolute;z-index:1000;}
.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}
