/* Footer */

.break-top {
  margin-top: 15px;
  margin-bottom: 5px;
}

.break-bottom {
  margin-bottom: 15px;
}

.footer-custom ul {
  padding-left: 0px;
}

.footer-custom ul > li{
    display: inline-block;   /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline; /* this fix is needed for IE7- */
}

.footer-custom h4 {
  color: black;
}

.footer-custom h5 {
  color: black;
}

.pages-copy h3 {
  color: black;
}
