!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "Social Media Analysis. Sentiment Analysis. Geo Search. Influential Users.", name: "description"}/
    %meta{content: "Social, Media, Listening, Search, Sentiment, Geo, Influencers, Device, Usage, Shared, Followers, SocialClue", name: "keywords"}/
    %link{:href => "https://www.socialclue.io", :rel => "canonical"}/

    %title SocialClue | Social Media Analysis

    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Lato:300,400,900", rel: "stylesheet", type: "text/css"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "https://js.stripe.com/v1/", "application"
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY

    %script{src: "https://platform.twitter.com/widgets.js", type: "text/javascript"}

    / heap analytics
    :javascript
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("3943898547");

    /HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    =yield
    :javascript
      var myHilitor = new Hilitor("wrap");
      myHilitor.apply("#{params[:q]}");

