= render partial: "shared/landing_page_header"
#page-wrapper.text-center
  .row
    .col-md-4.col-sm-6.col-md-offset-4.col-sm-offset-3
      .panel.panel-primary.mobile-margin
        .panel-heading
          %h3.panel-title
            %strong#user-account
              My Account
        .panel-body
          %fieldset
            .form-group
              %h3.panel-title
                %strong
                  Profile
              %br
                .btn.btn-primary.account-edit-btn= link_to "Update Profile", edit_user_registration_path, method: :get
              %hr
            - if current_user.active_paying_subscription?
              .form-group
                %h3.panel-title
                  %strong
                    Update card details
                %br
                .btn.btn-primary.account-edit-btn= link_to "Edit card details", subscriptions_edit_path, method: :get
              %hr
              .form-group
                %h3.panel-title
                  %strong
                    Cancel my subscription
                %br
                .btn.btn-danger.account-edit-btn= link_to "Cancel subscription", cancel_subscriptions_path, method: :put
              %hr
            - if current_user.invoices.size > 0
              .form-group
                %h3.panel-title
                  %strong
                    Invoices
                %br
                .btn.btn-primary.account-edit-btn= link_to "View invoices", invoices_path, method: :get
= render "shared/landing_page_footer"
